<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
    <!-- namespace="패키지명.인터페이스" -->
<mapper namespace="com.pigbank.project.dao.ChuMapper">

	<select id="savingList" resultType="com.pigbank.project.dto.SavingProductDTO">
		SELECT * FROM savings_product
	</select>
	
	<select id="depositList" resultType="com.pigbank.project.dto.DepositProductDTO">
		SELECT * FROM deposit_product
	</select>
	
	<select id="loanList" resultType="com.pigbank.project.dto.LoanProductDTO">
		SELECT * FROM loan_product
	</select>
	
	<select id="depositAccountList" resultType="com.pigbank.project.dto.DepositAccountDTO">
		SELECT da.dNum, a.id, da.acNumber, da.dPdName, da.dAmount, da.dExpAmount, da.dJoinDate, da.dEndDate, da.dDeAccount
                FROM d_account_tbl da, deposit_product d, account_tbl a
                WHERE da.dPdName = d.dPdName
                AND da.acNumber = a.acNumber
                AND a.id='hong1234'
	</select>
	
	<select id="savingAccountList" resultType="com.pigbank.project.dto.SavingAccountDTO">
		SELECT *  
		FROM s_account_tbl s, ACCOUNT_TBL a  
		WHERE s.ACNUMBER = a.ACNUMBER  
		AND id='hong1234'
	</select>
	
	<select id="loanAccountList" resultType="com.pigbank.project.dto.LoanAccountDTO">
		SELECT *
          FROM  l_account_tbl l, loan_req_tbl r
          WHERE l.LREQNUM  = r.LREQNUM 
          AND id = 'hong1234'
	</select>
	
	<select id="loanState" resultType="com.pigbank.project.dto.LoanAccountDTO">
		SELECT lReqNum
       		 , lPdName
       		 , lAmount
        	 , lState
	    FROM loan_req_tbl
	    WHERE id = 'hong1234'
	</select>
	
	<select id="accountList" resultType="com.pigbank.project.dto.AccountDTO">
		SELECT * FROM account_tbl WHERE acNumber=11022456542
	</select>
	
</mapper>