<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
    <!-- namespace="패키지명.인터페이스" -->
<mapper namespace="com.pigbank.project.dao.Exchange">

<!-- 	<insert id="exchangeList" parameterType="com.pigbank.project.dto.ExchangeRateDTO">
	    INSERT INTO chuexchange_tbl (exNo, exName, exPrice, exRate, exDate)
	    VALUES ((SELECT NVL(MAX(exNo)+1, 1) FROM chuexchange_tbl), #{exName}, #{exPrice}, #{exRate}, SYSDATE)
	</insert> -->
	
	 <update id="exchangeList" parameterType="com.pigbank.project.dto.ExchangeRateDTO">
	    UPDATE chuexchange_tbl
	    SET exName = #{exName},
	        exPrice = #{exPrice},
	        exRate = #{exRate},
	        exDate = SYSDATE
	    WHERE exName = #{exName}
	</update>
	
</mapper>

