<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="com.pigbank.project.dao.HyeMapper">

	<!-- 회원 정보 목록 -->
	<select id="listCustomer" resultType="com.pigbank.project.dto.CustomerDTO">
		SELECT id,name,regDate,grade,cusState
  		  FROM customer
 	  	 ORDER BY regDate DESC
	</select>
	<!-- 고객 조회(회원 상세 페이지)  -->
	<select id="detailCustomer" parameterType="String" resultType="com.pigbank.project.dto.CustomerDTO">
		SELECT id,name,email,address,hp,birthday,grade,regDate,cusState
		  FROM customer
		 WHERE id = #{id}
	</select>
	
	<select id="detailAccountListById" parameterType="String" resultType="com.pigbank.project.dto.AccountDTO">
		SELECT ID , ACNUMBER , BANKNAME , ACSTATE , ACBALANCE ,ACTYPE , NEWDATE , LASTDATE , TRSFLIMIT 
		  FROM ACCOUNT_TBL 
		 WHERE ID = #{id}
	</select>
	
	<!-- 탈퇴 요청 고객 목록 -->
	<select id="listWithdrawalCustomer" resultType="com.pigbank.project.dto.CustomerDTO">
		SELECT id,name,regDate,grade,cusState
		  FROM customer
		 WHERE cusState = '탈퇴요청'
	</select>

	<update id="updateStateApproval" parameterType="String">
		UPDATE CUSTOMER
		SET CUSSTATE  = '탈퇴승인',SHOW = 'n'
		WHERE id = #{id}
	</update>
	<update id = "updateStateReject" parameterType="String">
		UPDATE CUSTOMER
		SET CUSSTATE  = '탈퇴불가능(사유:잔액존재)',SHOW = 'n'
		WHERE id = #{id}
	</update>

</mapper>