<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="com.pigbank.project.dao.HyeMapper">

	<!-- 회원 정보 목록 -->
	<select id="listCustomer" resultType="com.pigbank.project.dto.CustomerDTO">
		SELECT id,name,regDate,grade,cusState
  		  FROM customer
 	  	 ORDER BY regDate DESC
	</select>
	<!-- 고객 조회(회원 상세 페이지)  -->
	<select id="detailCustomer" parameterType="String" resultType="com.pigbank.project.dto.CustomerDTO">
		SELECT id,name,email,address,hp,birthday,grade,regDate,cusState
		  FROM customer
		 WHERE id = #{id}
	</select>
	
	<select id="detailAccountListById" parameterType="String" resultType="com.pigbank.project.dto.AccountDTO">
		SELECT ID , ACNUMBER , BANKNAME , ACSTATE , ACBALANCE ,ACTYPE , NEWDATE , LASTDATE , TRSFLIMIT 
		  FROM ACCOUNT_TBL 
		 WHERE ID = #{id}
	</select>
	
	<!-- 탈퇴 요청 고객 목록 -->
	<select id="listWithdrawalCustomer" resultType="com.pigbank.project.dto.CustomerDTO">
		SELECT id,name,regDate,grade,cusState
		  FROM customer
		 WHERE cusState = '탈퇴요청'
	</select>

	<update id="updateStateApproval" parameterType="String">
		UPDATE CUSTOMER
		SET CUSSTATE  = '탈퇴승인',SHOW = 'n'
		WHERE id = #{id}
	</update>
	<update id = "updateStateReject" parameterType="String">
		UPDATE CUSTOMER
		SET CUSSTATE  = '탈퇴불가능(사유:잔액존재)',SHOW = 'n'
		WHERE id = #{id}
	</update>

	<!--	+++++++ 펀드 계좌 만들기 +++++++		-->
	<!-- 고객 입출금 계좌 조회 -->
	<select id="selectAccountById" parameterType="String" resultType="com.pigbank.project.dto.AccountDTO">
		SELECT ACNUMBER , ACBALANCE , BANKNAME , ACTYPE ,ACPWD
		FROM ACCOUNT_TBL
		 WHERE ACTYPE ='입출금통장'
		   AND ID =#{id}
	</select>
	<!-- 펀드 계좌 생성 -->
	<insert id="insertFundAccount" parameterType="com.pigbank.project.dto.FundProductDTO">
		INSERT INTO F_ACCOUNT_TBL(fNum,fAcNumber ,id, fBalance ,fNewDate , fAcPwd)
		VALUES((SELECT NVL(MAX(fNum)+1, 1) FROM F_ACCOUNT_TBL),#{fAcNumber},#{id},#{fBalance},sysdate,#{fAcPwd})
	</insert>
	<!-- 입출금 금액 차감-->
	<update id="deductAccountAmount" parameterType="com.pigbank.project.dto.FundProductDTO">
		UPDATE ACCOUNT_TBL
		SET ACBALANCE = ACBALANCE - #{fBalance}
		WHERE ACNUMBER = #{acNumber}
	</update>
	<!-- 입출금통장 차감금액 이체내역에 추가 -->
	<insert id="insertDepositFund" parameterType="com.pigbank.project.dto.TransferDTO">
		INSERT INTO TRANSFER_TBL(tNum, acNumber, tDepositnum, tDepositBank, tType, tAmount, myMemo, yourMemo, tDate)
		VALUES((SELECT NVL(MAX(tNum) + 1, 1) FROM TRANSFER_TBL), #{acNumber}, #{tDepositnum}, '돼지은행', '출금', #{tAmount}, '펀드계좌개설', '펀드계좌개설', sysdate)
	</insert>
	<!--	+++++++  펀드 거래내역 조회  +++++++		-->
	<!-- 고객 펀드계좌 조회 -->
	<select id="listFundAccountById" parameterType="String" resultType="com.pigbank.project.dto.FundAccountDTO">
		SELECT fNum, fAcNumber ,fBalance ,fNewDate ,fLastDate , fAcPwd ,fTrsfLimit
		FROM f_account_tbl
		WHERE id = #{id}
		ORDER BY fNewDate DESC
	</select>
</mapper>