<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
    <!-- namespace="패키지명.인터페이스" -->
<mapper namespace="com.pigbank.project.dao.LeeMapper">

	<select id="accountList" parameterType="String" resultType="com.pigbank.project.dto.AccountDTO">
		SELECT act.acnumber, act.acbalance, act.bankName, cs.name
		  FROM ACCOUNT_TBL act, CUSTOMER cs
		  WHERE act.id = cs.id
		    AND act.id = #{id}
	</select>
	
	<insert id="insertTransfer" parameterType="com.pigbank.project.dto.TransferDTO">
		INSERT INTO TRANSFER_TBL(tNum, acNumber, tDepositnum, tDepositBank, tType, tAmount, myMemo, yourMemo, tDate)
			VALUES((SELECT NVL(MAX(tNum) + 1, 1) FROM TRANSFER_TBL), #{acNumber},
			        #{tDepositnum}, #{tDepositBank}, #{tType}, #{tAmount}, #{myMemo},
			        #{yourMemo}, sysdate)
	</insert>
	
</mapper>