<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
    <!-- namespace="패키지명.인터페이스" -->
<mapper namespace="com.pigbank.project.dao.LeeMapper">

	<select id="allAccountList" resultType="com.pigbank.project.dto.AccountDTO">
		select act.acnumber, act.bankName, cs.name
		from ACCOUNT_TBL act, CUSTOMER cs where act.id = cs.id
	</select>

	<select id="accountList" parameterType="String" resultType="com.pigbank.project.dto.AccountDTO">
		SELECT act.acnumber, act.acbalance, act.bankName, cs.name, act.acPwd, act.trsfLimit, act.acType
		  FROM ACCOUNT_TBL act, CUSTOMER cs
		  WHERE act.id = cs.id
		    AND act.id = #{id}
	</select>
	
	<insert id="insertTransfer" parameterType="com.pigbank.project.dto.TransferDTO">
		INSERT INTO TRANSFER_TBL(tNum, acNumber, tDepositnum, tDepositBank, tType, tAmount, myMemo, yourMemo, tDate)
			VALUES((SELECT NVL(MAX(tNum) + 1, 1) FROM TRANSFER_TBL), #{acNumber},
			        #{tDepositnum}, #{tDepositBank}, #{tType}, #{tAmount}, #{myMemo},
			        #{yourMemo}, sysdate)
	</insert>
	
	<update id="updateAccount" parameterType="com.pigbank.project.dto.TransferDTO">
		UPDATE ACCOUNT_TBL 
		SET ACBALANCE = ACBALANCE - #{tAmount}
		WHERE ACNUMBER = #{acNumber}
	</update>
	
	<update id="updateAccountnext" parameterType="com.pigbank.project.dto.TransferDTO">
		UPDATE ACCOUNT_TBL
		SET ACBALANCE = ACBALANCE + #{tAmount}
		WHERE ACNUMBER = #{acNumber}
	</update>
	
	<insert id="autoInsertTransfer" parameterType="com.pigbank.project.dto.AutoTransferDTO">
		INSERT INTO auto_transferReg_tbl(aNum,acNumber,aDepositNum,aDepositBank,aDepositAmount,aTransferCycle,aStartDate,aEndDate,myMemo,yourMemo)
			VALUES((SELECT NVL(MAX(aNum) + 1, 1) FROM auto_transferReg_tbl), #{acNumber}, #{aDepositnum}, #{aDepositBank}, #{aDepositAmount}, #{aTransferCycle}, 
			#{aStartDate},#{aEndDate},#{myMemo},#{yourMemo})
	</insert>
	
	<select id="autoTransferList" resultType="com.pigbank.project.dto.AutoTransferDTO">
		select * from auto_transferReg_tbl
	</select>
	
	<update id="updateAutoTransfer" parameterType="java.util.Map">
		update auto_transferReg_tbl
		set aState = #{aState}
		where aNum = #{aNum}
	</update>
	
	<update id="updateAutoTransferCycle" parameterType="java.util.Map">
		update auto_transferReg_tbl
		set aUpdate = #{aUpdate} + #{aTransferCycle}
		where aNum = #{aNum}
	</update>
	
	<select id="autoTransferCheck" parameterType="java.util.Map" resultType="com.pigbank.project.dto.AutoTransferDTO">
		select * from auto_transferReg_tbl
		where acNumber = #{acNumber}
		  and aState = #{aState}
	</select>
	
	<select id="autoTransferCheckall" parameterType="java.util.Map" resultType="com.pigbank.project.dto.AutoTransferDTO">
		select * from auto_transferReg_tbl
		where acNumber = #{acNumber}
		  and aState LIKE '%' || #{aState} || '%'
	</select>
	
	<update id="autoTransferCancel" parameterType="java.util.Map">
		update auto_transferReg_tbl
		set aState = #{aState}
		, aCancelDate = sysdate
		where aNum = #{aNum} 
	</update>
	
	<select id="selectOne" parameterType="int" resultType="com.pigbank.project.dto.AutoTransferDTO">
		select att.acNumber, att.acancelDate, att.adepositAmount, att.adepositBank, 
			   att.adepositnum, att.aendDate, att.aregDate, att.anum, 
			   att.astartDate, att.astate, att.atransferCycle, att.yourMemo, act.trsfLimit
		from auto_transferReg_tbl att, ACCOUNT_TBL act
		where act.acNumber = att.acNumber
		  and att.aNum = #{aNum}
	</select>
	
	<update id="updatedirectlyAutoTransfer">
		update auto_transferReg_tbl
		set aDepositAmount = #{aDepositAmount} , 
		aTransferCycle = #{aTransferCycle}, 
		aEndDate = #{aEndDate}
		where aNum = #{aNum}
	</update>
	
	<update id="updatetrsfLimit" parameterType="com.pigbank.project.dto.AccountDTO">
		update account_tbl
		set trsfLimit = #{trsfLimit}
		where acNumber = #{acNumber}
	</update>
	
	<!-- 공지사항 -->
	<select id="noticeList" resultType="com.pigbank.project.dto.NoticeDTO">
		select * from notice_tbl
	</select>
	
	<select id="checkonenotice" parameterType="int" resultType="com.pigbank.project.dto.NoticeDTO">
		select * from notice_tbl where nNum = #{nNum}
	</select>
	
	<update id="changenotice" parameterType="com.pigbank.project.dto.NoticeDTO">
		update notice_tbl
		set nTitle = #{nTitle}, nContent = #{nContent}
		where nNum = #{nNum}
	</update>
	
</mapper>