<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="com.pigbank.project.dao.SooMapper">


	<!-- 대출상품 목록 -->
	<select id="showPdLoantList" resultType="com.pigbank.project.dto.LoanProductDTO">
		SELECT * FROM loan_product WHERE show='y'
	</select>
	
	<!-- 대출상품 등록 -->
	<insert id="insertPdLoan" parameterType="com.pigbank.project.dto.LoanProductDTO">
		INSERT INTO loan_product(lpdName, lsubTitle, lcontent, lgrade, lmaxPeriod, lmaxPrice, lrate,  ltype, lcxlRate)
		VALUES(#{lpdName}, #{lsubTitle}, #{lcontent}, #{lgrade}, #{lmaxPeriod}, #{lmaxPrice}, #{lrate}, #{ltype}, #{lcxlRate})
	</insert>
	
	<!-- 대출상품 상세 -->
	<select id="selectProduct" parameterType="String" resultType="com.pigbank.project.dto.LoanProductDTO">
		SELECT * FROM loan_product where lpdName=#{lpdName}
	</select>
	
	<!-- 대출상품 수정 -->
	<update id="updateProduct" parameterType="com.pigbank.project.dto.LoanProductDTO">
		UPDATE loan_product
		SET lsubTitle=#{lsubTitle}, lcontent=#{lcontent}, lgrade=#{lgrade}, lmaxPeriod=#{lmaxPeriod}, lmaxPrice=#{lmaxPrice}, lrate=#{lrate}, ltype=#{ltype}, lcxlRate=#{lcxlRate}
		WHERE lpdName=#{lpdName}
	</update>
	
	<!-- 대출상품 삭제 -->
	<update id="deleteProduct" parameterType="String">
		UPDATE loan_product
		SET show='n'
		WHERE lpdName=#{lpdName}
	</update>
	
	<!-- 대출상품 신청 -->
	<insert id="requestProduct" parameterType="com.pigbank.project.dto.LoanRequestDTO">
		INSERT INTO loan_req_tbl(lReqNum, lPdName, id, lAmount, lPeriod, lPurpose, lIncome, lState, lReqDate, acPwd, trsfLimit)
		VALUES((SELECT NVL(MAX(lReqNum)+1, 1) FROM loan_req_tbl), #{lpdName}, #{id}, #{lamount}, #{lperiod}, #{lpurpose}, #{lincome}, #{lstate}, #{lreqDate}, #{acPwd}, #{trsfLimit})
	</insert>
	
</mapper>