.section{
  display: flex;
}
.account_card {
  
  flex-basis: 100%;
  margin: 15px;
  color: #545454;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding: 30px;
  text-align: center;
}
.account_card h4{
      color: #6ab64e;
}
.account_card a{
  color: #545454;
  font-size: 12px;
}




